body{
    margin: 0;
    padding: 0;
    background-color: rgb(232, 232, 232);
}

img{
    width: 100%;
}

header{
    position: sticky;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 5rem;
    background-color: rgb(99, 164, 255);
    top: 0;
    z-index: 1;
    
}
header a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

nav ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 400;
}

nav ul li a:hover{
    color: rgb(63, 63, 63);
}

nav ul li{
    margin-left: 2.5rem;
}

.btn-container{
    display: none;
}

.tarjeta img:hover{
    transform: scale(1.2);
}

.tarjeta-cuerpo{
    position: relative;
    padding: 0.8rem;
    padding-bottom: 1.22rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.card-price{
    position: absolute;
    background-color: white;
    padding: 0.5rem;
    top: -2rem;
    left: 0.5rem;
    border-radius: 0.4rem;
    color: rgb(96, 96, 96);
}

.tarjeta{
    border-radius: 2rem;
    overflow: hidden;
    background-color: white;
}

.tarjeta:hover{
    box-shadow:10px 10px 60px rgb(153, 153, 153);
}

.tarjeta figure{
    overflow: hidden;
}


.contenedor-tarjetas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 81vw;
    margin: 0 auto;
}

.contenedor-categoria{
    width: 25vw;
    margin: 1.5rem 1vw;
    position: relative;
    cursor: pointer;
    background-color: rgb(19, 19, 19);
}


.contenedor-categoria:hover img{
    mask-image: linear-gradient(
        rgb(255, 255, 255) 50%, 
        transparent
    );
}

.contenedor-categoria img{
    height: 100%;
    mask-image: linear-gradient(
        rgb(255, 255, 255) 50%, 
        transparent
    );
}

.contenedor-tarjetas #catTodas{
    width: 81vw;
}

.cuerpo-tarjeta .tarjeta-titulo{
    position: absolute;
    left: 1rem;
    bottom: 1.5rem;
    color: rgb(255, 255, 255);
}


#cuerpo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 3rem;
}

#cuerpo aside{
    width: 20vw;
    margin-top: 5rem;
}

#cuerpo main{
    width: 80vw;
}

aside{
    margin: 0 auto;
    padding: 2rem;
    box-shadow:10px 10px 60px rgb(153, 153, 153);
    height: fit-content;
    position: sticky;
    top: 7rem;
}

#cuerpo label{
    font-size: 1.5rem;
}
#cuerpo input{
    transform: scale(1.5);
}


.producto-carrito{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border: 0.1rem solid rgb(153, 153, 153);
    border-radius: 1rem;
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    box-shadow:10px 10px 20px rgb(153, 153, 153);
}

.producto-carrito-imagen{
    width: 9vw;
    border-radius: 0.5rem;
    margin-right: 3rem;

}

.producto-carrito-cuerpo{
    width: 30vw;
}
.producto-carrito-acciones{
    margin-right: 1rem;
}

