body{
    background-image: url('../img/lorenzo-massa-patio.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.btn-container{
    display: none;
}

.card:hover{
    transform: scale(1.1);
}

.card-body{
    position: relative;
}

.card-price{
    position: absolute;
    background-color: white;
    padding: 0.5rem;
    top: -2rem;
    left: 0.5rem;
    border-radius: 0.4rem;
    color: rgb(96, 96, 96);
}